body {
    background-color: rgb(255, 255, 255);
    color: black;
    font-style: normal;
    font-family: 'Montserrat';
    margin: 10px;
    /* width: 1280px; */
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 105px;
}

.inline-block {
    display: inline-block;
}

.logo img {
    width: 60px;
    height: 60px;
    padding-left: 20px;
    position: absolute;
    top: 30px;
    left: 30px;
}

.instagram {
    width: 40px;
    vertical-align: middle;
    display: inline;
}

.linkedin {
    width: 40px;
    vertical-align: middle;
    display: inline;
}

.footerlogo img {
    width: 60px;
    height: 60px;
    padding-left: 20px;
}

.footer {
    align-self: flex-end;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.heroimage {
    width: 589px;
}

.herotext {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 479px;
}

.innercard {
    display: flex;
    justify-content: center;
    align-items: center;
}

.innercardcolumndrawchange {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
}

.innercardcolumngreecycle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
}

.innercardcolumnfcc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
}

.innercardcolumnplanit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
}

.cardcolumntext {
    width: 200px;
    padding-left: 20px;
    padding-top: 45px;
}

.casestudybutton {
    width: 150px;
    height: 40px;
    font-size: 19px;
    border-radius: 10px;
    background-color: #D1E5FB;
    color: black;
    cursor: pointer;
    border-color: #8F93D9;
}

.herotext h1 {
    margin: 0;
}

.PageLinks {
    font-size: 15px;
    padding: 15px;
}

.card {
    width: 450px;
    height: 300px;
    border-radius: 15px;
    color: whitesmoke;
}

.content {
    color: black;
    font-style: normal;
    font-family: 'Montserrat';
    font-size: 20px;
}

.caseStudyGrid {
    display: grid;
    row-gap: 20px;
    column-gap: 20px;
    justify-items: center;
    grid-template-rows: 50% 50%;
    grid-template-areas: "drawchange greecycle" "FCCRedesign planIt";
}

.drawchangeCard {
    grid-area: drawchange;
    background-color: #323232;
    font-style: normal;
    font-family: 'Montserrat';
    font-size: 20px;
    left: 45px;
    width: 605.42px;
    height: 369.27px;
    border-radius: 15px;
}

.greecycleCard {
    grid-area: greecycle;
    background-color: #007B40;
    font-style: normal;
    font-family: 'Montserrat';
    font-size: 20px;
    width: 605.42px;
    height: 369.27px;
    border-radius: 15px;
    right: 45px;
}

.fCCCard {
    grid-area: FCCRedesign;
    background-color: #1C3664;
    font-style: normal;
    font-family: 'Montserrat';
    font-size: 20px;
    width: 605.42px;
    height: 369.27px;
    left: 45px;
    border-radius: 15px;
}

.planItCard {
    grid-area: planIt;
    background-color: #310D3E;
    font-style: normal;
    font-family: 'Montserrat';
    font-size: 20px;
    width: 605.42px;
    height: 369.27px;
    right: 45px;
    border-radius: 15px;
}

.contactleft {
    width: 575.42px;
    height: 480px;
    background-color: #D1E5FB;
    left: 0px;
}

.contactright {
    width: 575.42px;
    height: 480px;
    background-color: rgb(255, 255, 255);
    right: 0px;
    display: flex;
    flex-direction: column;
}

.contactgrid {
    display: grid;
    row-gap: 20px;
    padding-top: 50px;
    height: 500px;
    justify-items: center;
    grid-template-columns: 50% 50%;
    grid-template-areas: "contactleft" "contactright";
}

.contactsubmitbutton {
    width: 150px;
    height: 40px;
    font-size: 19px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #D1E5FB;
    color: black;
    cursor: pointer;
    border-color: #8F93D9;
}

.contactsubmitbutton:hover {
    background-color: #8F93D9;
}

.casestudybutton:hover {
    background-color: #8F93D9;
}

.input {
    background-color: rgb(232, 243, 253);
    border-color: #D1E5FB;
    font-size: 16px;
    width: 300px;
}

.copyright {
    font-size: 14px;
    text-align: center;
}

.contactlefttextemail {
    text-align: center;
    font-size: 20px;
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    grid-template-rows: repeat(4, min-content) 1fr;
    grid-template-columns: 100%;
}

.contactlefttexthead {
    text-align: center;
    font-size: 40px;
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    grid-template-rows: repeat(4, min-content) 1fr;
    grid-template-columns: 100%;
}

.contactlefttext {
    text-align: center;
    font-size: 30px;
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    grid-template-rows: repeat(4, min-content) 1fr;
    grid-template-columns: 100%;
}

.herogrid {
    display: grid;
    row-gap: 20px;
    height: 500px;
    justify-items: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "herogridimage" "hergridgreeting";
}

.herotext {
    padding: 120px;
}

.introtext {
    color: #3D9BE9;
}